:root {
    --colorPaletteMain: #A491D3;
    --colorPaletteBackground: #1D1E2C;
    --colorPaletteBlue: #14BDEB;
    --colorPaletteGreen: #0CF574;
    --colorPaletteRed: #D1495B;
}

body {
    margin: 0;
    background-color: var(--colorPaletteBackground);
    color: white;
    text-align: center;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
} 

.Navigation {
    background-color: var(--colorPaletteMain);
    overflow: hidden;
}

.Navigation li{
    list-style-type: none;
    float: left;
    color: var(--colorPaletteBackground);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.Navigation li:hover {
    background-color: var(--colorPaletteBlue);
    color: var(--colorPaletteBackground);
}

.Navigation li.active {
    background-color: var(--colorPaletteBackground);
    color: var(--colorPaletteMain);
}

.underConstruction{
    text-align: center;
    color: var(--colorPaletteRed);
}

.GitHubIcon{
    filter: invert(1);
    float: left;
    margin: 50px 50px 50px 50px;
}

.projectShowcase{
    text-align: left;
    padding-left: 10px;
}

.currentProjects{
    text-align: left;
    padding-left: 10px;
}

h3{
    color: var(--colorPaletteGreen);
}

.underConstruction{
    padding-top: 30px;
}

#selfie {
    height: 30%;
    width: 30%;
}